@tailwind base;
@tailwind components;
@tailwind utilities;

.left-side {
  background-color: blue;
  padding: 20px; /* Add padding for spacing */
  height: 100%; /* Make it fill the full height of the column */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* styles.css */
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
